@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
p{
    margin: 0;
    font-size: 18px;
    color: #707070;
}
h1{
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}
h2{
    margin: 10px 0;
    font-size: 45px;
    font-weight: 600;
    color: #121212;

}
.top-head{
    width: auto;
    padding: 200px 0;
    background-image: url(../images/donation9.jpg);
    background-size: cover;  
}
.top-head p{
    color: #fff;
    margin-bottom: 30px;
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #FF5959;
    border-radius: 5px;
}
/* 2nd section */
.flex-box{
    display: flex;
    align-items: center;  
    justify-content: center;
}
.box{
    margin: 30px 10px;
    padding: 40px;
    background-color: #FAFAFA;
    border-radius: 5px;
}
#unique-box{
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}
.dt-section{
    width: auto;
    padding: 100px 0;
}
.input-box{
    border: none;
}
hr{width: 50%; margin-bottom: 30px; color: #707070;}
/*Our Donate Plan section*/
.odp-section{
    width: auto;
    padding: 50px 0;
}
.b-box{
    margin: 30px 10px;
    padding: 50px 30px;
    border-radius: 5px;
    text-align: left;
}
.b-box p{
    color: #000000;
    font-size: 14px;
}
#p{background-color: #a0d4da; }
#r{background-color: #f1c4c4;}
#y{background-color: #FFF4D6;}


/*footer section*/
footer{
    width: auto;
    padding: 40px 0;
    background-color: #0B0D17;
}
footer h2{
    color: #FF5959;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
footer p{
    color: #ffffff;
    font-size: 14px; 
}
